<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
            by default -->
        <encoder>
            <!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
            <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

<!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}ows-proxy.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
 -->
    <logger name="eu.clarussecure.proxy" level="INFO" />
<!-- <logger name="eu.clarussecure.proxy.protocol.plugins.pgsql" level="DEBUG" /> -->
<!-- <logger name="eu.clarussecure.proxy.protocol.plugins.pgsql.raw.handler.forwarder" level="TRACE" /> -->
<!-- <logger name="eu.clarussecure.proxy.protocol.plugins.tcp.handler.forwarder" level="TRACE" /> -->
<!-- <logger name="eu.clarussecure.proxy.protocol.plugins.pgsql.message" level="TRACE" /> -->
<!-- <logger name="eu.clarussecure.proxy.protocol.plugins.pgsql.message.sql" level="TRACE" /> -->
<!-- <logger name="eu.clarussecure.dataoperations.anonymization" level="DEBUG" /> -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>